@import './common/all';
@import './variables/all';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $ui-05; }
app-issue-list {
    display: flex;
    justify-content: center;
}
