// grayscale
$black: #000000;
$ui-01: #1e1e1e;
$ui-02: #666666;
$ui-03: #b4b4b4;
$ui-04: #d7d7d7;
$ui-05: #ededed;
$ui-06: #f8f8f8;
$white: #ffffff;

// blue
$blue-dark: #00517b;
$blue: #0088ce;
$blue-light: #80c3e6;
$blue-lighter: #cce7f5;

// red
$red-dark: #bf1d08;
$red: #de3618;
$red-light: #fa9a88;
$red-lighter: #fbeae5;

// teal
$teal-dark: #00848e;
$teal: #47c1bf;
$teal-light: #b6eceb;
$teal-lighter: #e0f5f4;

// purple
$purple-dark: #50248f;
$purple: #9c6ade;
$purple-light: #e3d0ff;
$purple-lighter: #f5f0fc;
